body{
    background-image:url(cronos.jpg) ;
    background-position:center;
    background-attachment: fixed;
    background-size:cover;
}

p,ol,h1, h2, h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
}


h1{
    color: rgb(248, 154, 3);
}
h2{
    color:goldenrod
}
h3{
    color:gold;
}
p{
    background-color:rgba(17, 13, 1, 0.2);
    color:rgba(255, 157, 0, 0.786);
    font-size: 20px;
    
}
ol {
    color:goldenrod
}