body{
    background-image:url(The_Fall_of_Phaeton.jpg) ;
    background-position:center;
    background-attachment: fixed;
    background-size:cover;
}
h1{
    color: goldenrod;
}
h2{
    color:goldenrod
}
h3{
    color:gold;
}
p{
    color:rgb(253, 66, 66);
    font-size: 20px;
    
}
ol {
    color:goldenrod
}